@import "../theme";

#root {
  height: 100%;

  .content {
    display: grid;
    grid-template-columns: $sidebar-width auto $sidebar-width;
    height: 100%;

    #main {
      height: 100%;
      overflow: auto;

      .routed {
        height: calc(100% - #{$topbar-height});
        overflow: auto;
        padding: 1rem 3rem;
        background: $panel-main-background;
        backdrop-filter: $panel-backdrop;
      }
    }
  }
}
