@import "../theme";

#root {
  height: 100%;

  .content {
    display: grid;
    grid-template-columns: $sidebar-width auto $sidebar-width;
    height: 100%;

    #main {
      background: #f5f5fa;
      height: 100%;
      overflow: auto;

      .routed {
        padding: 1rem 3rem;
      }
    }
  }
}
