<div class="container">
  <div class="logo">
    <img src="../../../assets/logo.png" alt="" />
    <div class="name">Almater</div>
  </div>
  <div class="routes">
    <div class="primary">
      <a
        class="route"
        [ngClass]="{ active: route.route == currentRoute }"
        [routerLink]="'/' + route.route"
        *ngFor="let route of primaryRoute"
      >
        <i [class]="'las la-' + route.icon"></i>
        <div class="name">{{ route.name }}</div>
        <div class="active-indicator"></div>
      </a>
    </div>
    <div class="secondary">
      <a
        class="route"
        [ngClass]="{ active: route.route == currentRoute }"
        [routerLink]="'/' + route.route"
        *ngFor="let route of secondaryRoute"
      >
        <i [class]="'las la-' + route.icon"></i>
        <div class="name">{{ route.name }}</div>
        <div class="active-indicator"></div>
      </a>
    </div>
  </div>
</div>
