@import "../../../theme";

$logo-height: 5rem;

.container {
  background: #fff;
  height: 100%;

  .logo {
    height: $logo-height;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 4rem;
      border-radius: 25rem;
      margin-left: -2rem;
    }

    .name {
      font-weight: 800;
      font-size: 1.2rem;
    }
  }

  .routes {
    height: calc(100% - #{$logo-height});
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .route {
      display: flex;
      align-items: center;
      height: 3rem;
      padding: 1rem 2rem;
      position: relative;
      text-decoration: none;
      color: $primary-text;
      cursor: pointer;
      transition: all 0.3s ease-out;

      i {
        font-size: 1.5rem;
      }
      .name {
        margin-left: 1rem;
      }

      .active-indicator {
        position: absolute;
        $width: 0.3rem;
        width: $width;
        height: 1.5rem;
        top: 0.75rem;
        right: -$width;
        background: $primary;
        border-radius: 0.2rem 0 0 0.2rem;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:hover {
        background: $primary-hover;

        .active-indicator {
          opacity: 1;
          right: 0;
        }
      }

      &.active {
        background: $primary-highlight;
        cursor: default;

        .active-indicator {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}
