@import "../../../theme";

.container {
  background: $panel-background;
  backdrop-filter: $panel-backdrop;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .user {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-out;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.637);
    }

    .info {
      margin-right: 1rem;

      .name {
        font-weight: 700;
        font-size: 0.9rem;
      }

      .status {
        display: flex;

        .role {
          font-size: 0.7rem;
          font-weight: 600;
        }

        i {
          margin-left: 0.5rem;

          &.online {
            color: $user-online;
          }
          &.offline {
            color: $user-offline;
          }
        }
      }
    }

    img {
      border-radius: 25rem;
      margin-right: 1rem;
    }
  }
}
