$primary: #3265f6;
$primary-highlight: #3266f61f;
$primary-hover: #3266f611;

$primary-text: #1a1a1a;

$user-online: #00bb4b;
$user-offline: #fa0000;

$panel-backdrop: blur(55px);
$panel-background: #ffffff91;
$panel-main-background: #f5f5fa7e;

// Constants
$sidebar-width: 15%;
$topbar-height: 5rem;
